@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./assets/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('./assets/fonts/SpoqaHanSansNeo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./assets/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    url('./assets/fonts/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./assets/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('./assets/fonts/SpoqaHanSansNeo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./assets/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('./assets/fonts/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./assets/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('./assets/fonts/SpoqaHanSansNeo-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.Toastify__toast-body > div:last-child {
  white-space: pre-line;
  line-height: 22px;
}
